@font-face {
    font-family: 'SourceHanSerifSC';
    src: url('../fonts/SourceHanSerifSC-Medium-subset.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

/* use */
body {
    font-family: 'SourceHanSerifSC', 'SimSun', serif;
}