@font-face {
    font-family: 'SourceHanSerifSC';
    src: url('../fonts/SourceHanSerifSC-Medium-subset.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

/* use */
body {
    font-family: 'SourceHanSerifSC', sans-serif;
}